<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weserv.grumpy.assetracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".View.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/drawable_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.Login"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_password_reset"
            android:parentActivityName=".View.Login"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Login" />
        </activity>
        <activity
            android:name=".View.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_register"
            android:parentActivityName=".View.Login"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Login" />
        </activity>
        <activity
            android:name=".View.PreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".View.MainScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.AssetRegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_asset_registration"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.TransferAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_transfer_asset"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.AssetAssignmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_asset_assignment"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.GetAssetTagActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_get_asset_tag"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.ManageAssetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_manage_asset"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weserv.grumpy.assetracker.View.MainScreenActivity" />
        </activity>
        <activity
            android:name=".View.ApprovalsActivity"
            android:label="@string/title_activity_approvals"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".View.MainScreenActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weserv.grumpy.assetracker.View.MainScreenActivity" />

        </activity>
    </application>

</manifest>